*.byte
*.native
*.exe
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.a
*.o
*/.dep
_build/
frontc/clexer.ml
frontc/clexer.mli
frontc/cparser.ml
frontc/cparser.mli
frontc/cparser.output
calipso/calipso
calipso/calipso_stat
ctoxml/ctoxml
printc/printc
*.cmxs
\.merlin
